@model BilBasarEgitim.Models.Dtos.DocumentAddDto
@{
    ViewBag.Title = "Döküman Yükle";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<main id="main" class="main">

    <section class="section">
        <div class="row">
            
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        
                        <h5 class="card-title mt-4">Döküman Yükleme</h5>
                        @using (Html.BeginForm("Add", "AdminDocument", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row g-3">
                                <!-- Vertical Form -->
                               
                                    <div class="col-12 row mt-4">
                                        <label for="inputNanme4" class=" col-sm-2 form-label">Döküman Açıklaması</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" name="Description" id="inputNanme4"></div>
                                        
                                    </div>
                                <div class="row mt-4">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">Döküman Yükle</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="document" type="file" id="formFile" accept=".pdf,.doc,.docx" required>
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" name="AdminId" value="@Guid.Parse(Session["Id"].ToString())" />
                                </div>
                                <div class="text-center mb-4">
                                        <button type="submit" class="btn btn-primary">Yayınla</button>
                                        <button type="reset" class="btn btn-secondary">Temizle</button>
                                    </div>
                            </div>
                        }
                       

                    </div>
                </div>

               

               

            </div>
        </div>
    </section>

</main><!-- End #main -->
