
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section data-bs-version="5.1" class="video5 cid-tHh1AHnikU" id="video5-f">




    <div class="container">
        <div class="title-wrapper mb-5">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                <strong>Hakkımızda</strong>
            </h4>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/lfXzdaswmN0?rel=0&amp;amp;&amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>

            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                        <strong>Bilbaşar Eğitim Kurumları</strong>
                    </h3>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Kuruluşumuz, 2018-2019 öğretim yılında, 9. 10. 11. ve 12. sınıf öğrencilerini sınavlara hazırlamak ve okullarında destek olmak amacıyla faaliyete geçmiştir. Kurucumuz Kimya Öğretmeni Bilbaşar Coşkun tarafından kurulan kurumumuz, uzun yıllara dayanan deneyim ve birikime sahiptir.
                        <br>Bilbaşar öğretmenimiz, eğitim kariyerine 2002 yılında stajyer olarak başladığı Zafer Dershaneleri'nde edindiği tecrübeyle ön plana çıkmıştır. 2006 yılında bölüm başkanı, 2010 yılında ise Antalya Zafer Dershaneleri'nin kurucusu olmuştur. 2015 yılında ise Zafer Koleji'ni kurarak eğitim alanında yeni bir çığır açmıştır. Daha sonra Birey Özel Öğretim kursunu hayata geçiren Bilbaşar öğretmenimiz, tüm bu birikimlerini Bilbaşar Üniversite Hazırlık Kursu'nda bir araya getirmiştir.
                        <br>Amacımız, öğrencilere başarıya giden yolda rehberlik etmek, onları sınavlara en iyi şekilde hazırlamak ve eğitimlerinde destek olmaktır. Tecrübeli eğitmen kadromuz ve etkili öğretim yöntemlerimizle öğrencilerimizin potansiyellerini keşfetmelerine yardımcı olmak ve akademik hedeflerine ulaşmalarını sağlamak için çalışmaktayız.
                        <br>Bilbaşar Üniversite Hazırlık Kursu olarak, öğrencilerimize yüksek kalitede eğitim sunmanın yanı sıra onlara güvenilir bir öğrenme ortamı da sağlamaktayız. Öğrencilerimizin bireysel ihtiyaçlarını dikkate alarak onlara özgü bir öğrenme deneyimi sunuyor ve her birinin hedeflerine odaklanarak destek veriyoruz.
                        <br>Sizleri de Bilbaşar Üniversite Hazırlık Kursu ailesine katılmaya ve başarı yolculuğunda bize katılmaya davet ediyoruz. İyi bir eğitim ve gelecek için doğru adımları birlikte atalım!<br><br><em>Detaylı bilgi için tıklayınız.</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image1 cid-tHh1WaYr8K" id="image1-j">





    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/7c1c88b8-16c4-4b44-a93f-f02cbe662ddd.jpg" alt="Mobirise Website Builder">

                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>Vizyon</strong>
                    </h3>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Bilbaşar Okulları, öğrencilerimizin güçlü, öz kaynaklarına güvenen, akılcı düşünebilen ve yaratıcı bireyler olarak yetişmelerini hedefler. Akademik gelişimlerini destekleyen eğitim-öğretim faaliyetlerinin yanı sıra kişisel ve sosyal gelişimlerine katkıda bulunacak kültürel, sanatsal ve spor etkinlikleri sunarız. Öğrencilerimizi keyif aldıkları bir ortamda gelişmeye teşvik eder, özgüvenlerini ve üretkenliklerini destekleriz.
                        <br>
                        <br>Bilbaşar Okulları olarak, öğrencilerimizin kendilerine inanmalarını ve kaynaklarını doğru şekilde kullanmalarını sağlayarak onları hayata hazırlarız. Öğrencilerimizi, güvenli bir öğrenme ortamında geleceğe yönelik becerilerle donatırız.
                        <br>
                        <br>Bizimle birlikte öğrencilerinizin potansiyellerini keşfetmelerine ve gerçekleştirmelerine yardımcı olun. Bilbaşar Okulları'na katılarak bu eşsiz eğitim deneyimine ortak olun.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image2 cid-tHh3qzOwqr" id="image2-k">





    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/32e94747-9d1b-4f35-bb23-eaab9c2d7357-898x1600.jpeg" alt="Mobirise Website Builder">

                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>Misyon</strong>
                    </h3>
                    <p class="mbr-text mbr-fonts-style display-7">
                        “Türkiye Cumhuriyeti'nin temeli kültürdür. Kültür okumak, anlamak, görebilmek, görebildiğinden anlam çıkarmak, ders almak, düşünmek, anlama yeteneğini eğitmektir.”
                        <br><br><strong>Mustafa Kemal Atatürk</strong><br><br>Bilbaşar Okulları olarak, “Bütün ümidim gençliktedir.” diyerek ülkemizin ve toplumumuzun geleceğini yeni nesillere emanet eden büyük önderimiz Mustaka Kemal Atatürk’ün öğretmenlere yüklediği sorumluluk ve görev bilinciyle yola çıkarak çocuklarımızı ve gençlerimizi kucaklamaya geliyoruz. Bu yolda öncelikli hedefimiz:
                        <br><br>·       Türkiye Cumhuriyeti’nin temelini oluşturan ve bizleri bağımsız, eşitlikçi, barışçıl ve insancıl yapan Atatürk ilke ve devrimlerini özümseyen
                        <br>· Çağın koşullarına en iyi şekilde uyum sağlayarak kişisel ve mesleki&nbsp; &nbsp; gelişimlerini sürdürebilen
                        <br>· Yaşamın ve doğanın önemini kavrayarak çevresine bu özenle yaklaşan
                        <br>· Milli değerlerine ve kültürüne sahip çıkarken insan olma paydasında başka uluslara saygılı ve hoşgörülü davranan
                        <br>· Ülkemizdeki ve dünyadaki olaylardan ve değişimlerden haberdar olan
                        <br>· Bilişim sistemlerini, araştırma yöntemlerini ve iletişim kaynaklarını etkili şekilde kullanabilen
                        <br>· Hayat boyu öğrenmeyi ve özer öğrenici olmayı benimseyen
                        <br>· Sorumluluk sahibi, problem çözme becerileri gelişmiş
                        <br>· Ders yükümlülüklerinde başarılı olduğu kadar insanlığın tarih cetveline ve bilgi birikimine hakim, genel kültürü yüksek
                        <br>· Okuyan, araştıran, sorgulayan ve çözümleyen
                        <br>· Yaratıcı, ilhamını sanattan, edebiyattan, pozitif bilimlerden alan
                        <br>· Hoşgörülü, saygılı, bilinçli, duygusal zekası ve ifade becerileri yüksek
                        <br>· Bedenen ve ruhen sağlıklı
                        <br>bireyler yetiştirmektir.
                        <br><br>Okullarımızda herkesin eşit şekilde değer gördüğü ve saygı duyulduğu güvenli, huzurlu ve verimli bir eğitim-öğretim ortamı sağlıyoruz ve öğrencilerimizin hayallerini gerçekleştirmelerini destekliyoruz. Alanlarında başarılı, mesleğini seven, önerilere ve yeniliklere açık, çözümcü, araştırmacı ve öğrenmeyi heyecanlı bir yolculuğa dönüştüren öğretmenlerimizin desteğiyle çocuklarımızın ve gençlerimizin hayata atılmalarını hedefliyoruz.&nbsp;<strong><br></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

