
@{
    ViewBag.Title = "Yol Haritamız";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section data-bs-version="5.1" class="timeline2 cid-tKPE1MOZfu" id="timeline2-2k">





    <div class="container-fluid">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Yol Haritamız</strong>
            </h3>

        </div>
        <div class="timelines-container mt-4">
            <div class="row timeline-element separline mb-5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                            <strong>9-10. Sınıf</strong>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5">
                            <strong>Kazandıran Yol Haritası</strong>
                        </h4>
                        <div class="image-wrapper mb-4">
                            <img src="assets/images/img-20230725-wa0001-1-1131x1600.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                            <strong>11. Sınıf</strong>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5"></h4>
                        <div class="image-wrapper mb-4">
                            <img src="assets/images/img-20230725-wa0003-1131x1600.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                            <strong>12.Sınıf</strong>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5"></h4>
                        <div class="image-wrapper mb-4">
                            <img src="assets/images/img-20230725-wa0002-1132x1600.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style display-5"><strong>LGS Kampı</strong></h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5"><strong>LGS Yaz Kampı</strong></h4>
                        <div class="image-wrapper mb-4">
                            <img src="assets/images/img-20230725-wa0004-1131x1600.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                            <strong>Yaz Kampı</strong>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5">
                            <strong>Yaz Kampı</strong>
                        </h4>
                        <div class="image-wrapper mb-4">
                            <img src="assets/images/img-20230725-wa0005-1131x1600.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                            <strong>Açık Liseler</strong>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5"><strong>Özel Gruplar</strong></h4>
                        <div class="image-wrapper mb-4">
                            <img src="assets/images/img-20230725-wa0006-1131x1600.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style display-5">
                            <strong>Özel Gruplar</strong>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style display-5">
                            <strong>Açık Liselere Özel Gruplar</strong>
                        </h4>
                        <div class="image-wrapper mb-4">
                            <img src="assets/images/img-20230725-wa0007-1132x1600.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>





        </div>
    </div>
</section>


