@model BilBasarEgitim.Models.Dtos.AdminChangePasswordDto
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 10px;">
        <div class="modal-content">
            <div class="modal-body" id="errorModalMessage" style="margin: 20px;">
                <!-- Hata mesajı burada görüntülenecek -->
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade pt-3" id="profile-change-password">
    <!-- Change Password Form -->
    <form action="/admin/profil/sifre-degister" id="change-password" method="post">

        <div class="row mb-3">
            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mevcut Şifre</label>
            <div class="col-md-8 col-lg-9">
                <input name="CurrentPassword" type="password" class="form-control" id="currentPassword">
                <span class="error-message" id="currentPassword-error"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Yeni Şifre</label>
            <div class="col-md-8 col-lg-9">
                <input name="NewPassword" type="password" class="form-control" id="newPassword">
                <span class="error-message" id="newPassword-error"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Şifre Tekrarı</label>
            <div class="col-md-8 col-lg-9">
                <input type="password" class="form-control" id="renewPassword">
                <span class="error-message" id="renewPassword-error"></span>
            </div>
        </div>
        <input type="hidden" name="Id" value="@Guid.Parse(Session["Id"].ToString())"/>
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
        </div>
         
    </form><!-- End Change Password Form -->

</div>