
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center; font-size: 24px;">
    <p>Hoş Geldiniz, @Session["FullName"]</p>
</div>

