
@{
    ViewBag.Title = "Öğrenci Portalı";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section data-bs-version="5.1" class="content8 cid-tHlm6m7qnV" id="content8-1z">

    <div class="container">
        <div class="row justify-content-center">
            <div class="counter-container col-md-12 col-lg-10">
                <h4 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                    Sınav sonuçlarımız...
                </h4>
                <div class="mbr-text mbr-fonts-style display-7">
                    <ul>
                        <li><strong>No Coding </strong>You don't have to code to create your own site. Select one of available themes in the Mobirise sitebuilder. <a href="https://mobiri.se/">Try it now!</a></li>
                        <li><strong>Mobile Friendly. </strong>All sites you create with the Mobirise web builder are mobile-friendly natively. No special actions required. <a href="https://mobiri.se/">Try it now!</a></li>
                        <li><strong>Unique Styles. </strong>Select the theme that suits you. Each theme in the Mobirise site builder contains a set of unique blocks. <a href="https://mobiri.se/">Try it now!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

