@model BilBasarEgitim.Models.Dtos.EducationalApplyAddDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section data-bs-version="5.1" class="form5 cid-tHEsrKfcKY" id="form5-2a">


    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>
                    Online Ön Kayıt
                    Başvuru Formu
                </strong>
            </h3>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                @using (Html.BeginForm("Index", "Apply", FormMethod.Post))
                {
                    <div>
                        <h5 style="color: red">@ViewBag.Error</h5>
                    </div>
                    <div class="form-group">
                            <label for="student-name" class="form-label">Ad ve Soyad:</label>
                            <input type="text" id="student-name" name="FullName" class="form-input"
                                   placeholder="Adınız ve Soyadınız" required>
                        </div>
                        <div class="form-group">
                            <label for="field" class="form-label">Alan:</label>
                            <select id="field" name="EducationalField" class="form-input" required>
                                <option value="sayisal">Sayısal</option>
                                <option value="esit-agirlik">Eşit Ağırlık</option>
                                <option value="sozel">Sözel</option>
                                <option value="tys">TYS</option>
                                <option value="dil">Dil</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">E-posta:</label>
                            <input type="email" id="email" name="Email" class="form-input"
                                   placeholder="E-posta adresiniz" required>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="form-label">Cep Telefonu:</label>
                            <input type="tel" id="phone" name="Phone" class="form-input"
                                   placeholder="Cep telefonu numaranız" required>
                        </div>
                        <div class="form-group">
                            <label for="parent-name" class="form-label">Veli Ad ve Soyad:</label>
                            <input type="text" id="parent-name" name="ParentName" class="form-input"
                                   placeholder="Veli adı ve soyadı" required>
                        </div>
                        <div class="form-group">
                            <label for="parent-phone" class="form-label">Veli Cep Telefonu:</label>
                            <input type="tel" id="parent-phone" name="ParentPhone" class="form-input"
                                   placeholder="Veli cep telefonu numarası" required>
                        </div>
                        <div class="form-group">
                            <label for="school" class="form-label">Okul:</label>
                            <input type="text" id="school" name="SchoolName" class="form-input" placeholder="Okul adı"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="grade" class="form-label">Sınıf:</label>
                            <input type="text" id="grade" name="Grade" class="form-input" placeholder="Sınıf" required>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-4">Kayıt Ol</button>
                        </div>
                }

            </div>
        </div>
    </div>
</section>


