
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<section data-bs-version="5.1" class="contacts2 cid-tKPAXBWeFx" id="contacts2-2e">
    <!---->




    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>İletişim</strong>
            </h3>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Cep Telefonu</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+90 505 594 25 97" class="text-primary">+90&nbsp;505&nbsp;594&nbsp;25&nbsp;97</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Telefon</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:0 (242) 242 40 43" class="text-primary">0 (242) 242 40 43</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-map-pin mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Adres</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Sinan, Hüsnü Karakaş Cd. No:5 D:118, 07100 Muratpaşa/Antalya&nbsp;<br></p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>EMail</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@bilbasaregitim.com" class="text-primary">info@bilbasaregitim.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="map1 cid-tKPAYeT8FK" id="map1-2f">



    <div class="container">

        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d812158.1449912138!2d30.135762838891818!3d37.33084138743502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c39000eb76546f%3A0xcba12e658a15bb87!2zQmlsYmHFn2FyIEXEn2l0aW0gS3VydW1sYXLEsQ!5e0!3m2!1str!2str!4v1687195975149!5m2!1str!2str" allowfullscreen=""></iframe></div>
    </div>
</section>

